DATABASE_URL="mongodb+srv://businesspuneetyadav_db_user:9ySgUq3UXoSFJAbE@cluster0.oci3ymr.mongodb.net/leadfinder?retryWrites=true&w=majority&appName=Cluster0"
GOOGLE_PLACES_API_KEY="AIzaSyCwoH4ZSiX0N9LqtEO_knANvhz0L65t_58"
APP_URL="http://localhost:3000"